#
# Copyright (C) 2025 Lee M. Lwando
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a qdrant instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=qdrant vector database server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/qdrant.pid %t/qdrant.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStartPre=/bin/mkdir -p data snapshots config
ExecStart=/usr/bin/podman run \
    --user=999 \
    --detach \
    --conmon-pidfile=%t/qdrant.pid \
    --cidfile=%t/qdrant.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${TCP_PORT}:6333 \
    --publish=127.0.0.1:${TCP_PORT_2}:6334 \
    --volume=./data:/qdrant/storage:Z \
    --volume=./snapshots:/qdrant/snapshots:Z \
    --volume=./config/production.yaml:/qdrant/config/production.yaml:Z,ro \
    --env-file=smarthost.env \
    ${QDRANT_IMAGE} \
    ./qdrant --config-path config/production.yaml
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/qdrant.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/qdrant.ctr-id
PIDFile=%t/qdrant.pid
Type=notify

[Install]
WantedBy=default.target
