#
# Copyright (C) 2025 Lee M. Lwando
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a qdrant instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=qdrant vector database server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/qdrant.pid %t/qdrant.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/qdrant.pid \
    --cidfile=%t/qdrant.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${HTTP_PORT}:6333 \
    --publish=127.0.0.1:${GRPC_PORT}:6334 \
    --volume=qdrant_storage:/qdrant/storage:Z \
    --env-file=smarthost.env \
    ${QDRANT_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/qdrant.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/qdrant.ctr-id
PIDFile=%t/kickstart.pid
Type=forking

[Install]
WantedBy=default.target
